<!DOCTYPE html>
<html>

<head>
  <title>Todo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Todo List</h1>

    <!-- Filter Form -->
    <form id="filterForm">
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="date" class="form-control" id="startDate">
      </div>
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" class="form-control" id="endDate">
      </div>
      <div class="form-group">
        <label for="creator">Creator:</label>
        <input type="text" class="form-control" id="creator">
      </div>
      <button type="submit" class="btn btn-primary">Filter</button>
      <button type="button" class="btn btn-secondary" id="clearFilter">Clear Filter</button>
    </form>

    <hr>

    <!-- Todo List -->
    <ul id="todoList" class="list-group">
      {{#each todos}}
      <li class="list-group-item">
        <span>{{this.title}}</span>
        <div>
          <button class="btn btn-sm btn-danger delete-todo" data-id="{{this.id}}">Delete</button>
          <button class="btn btn-sm btn-secondary edit-todo" data-id="{{this.id}}">Edit</button>
        </div>
        <div class="comments-container">
          <form class="add-comment-form" data-todo-id="{{this.id}}">
            <input type="text" class="form-control comment-input" placeholder="Add a comment...">
            <button type="submit" class="btn btn-sm btn-primary add-comment-btn" data-id="{{this.id}}">Add
              Comment</button>
          </form>
          <ul class="comments-list">
            {{#each this.comments}}
            <li>{{this.comment}} - {{this.commenter}}</li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script>
    $(document).ready(function () {
     
      $('#filterForm').submit(function (event) {
        event.preventDefault();
        const startDate = $('#startDate').val();
        const endDate = $('#endDate').val();
        const creator = $('#creator').val();
        const url = `/todos/filter?startDate=${startDate}&endDate=${endDate}&creator=${creator}`;
        $.get(url, function (data) {
          $('#todoList').empty();
          data.forEach(function (todo) {
            const todoItem = `
              <li class="list-group-item">
                <span>${todo.title}</span>
                <div>
                  <button class="btn btn-sm btn-danger delete-todo" data-id="${todo.id}">Delete</button>
                  <button class="btn btn-sm btn-secondary edit-todo" data-id="${todo.id}">Edit</button>
                </div>
                <div class="comments-container">
                  <form class="add-comment-form" data-todo-id="${todo.id}">
                    <input type="text" class="form-control comment-input" placeholder="Add a comment...">
                    <button type="submit" class="btn btn-sm btn-primary add-comment-btn" data-id="${todo.id}">Add Comment</button>
                  </form>
                  <ul class="comments-list">
                    ${todo.comments.map(function (comment) {
              return `<li>${comment.comment} - ${comment.commenter}</li>`;
            }).join('')}
                  </ul>
                </div>
              </li>`;
            $('#todoList').append(todoItem);
          });
        });
      });

      $('#clearFilter').click(function () {
        $('#filterForm')[0].reset();
        $('#filterForm').submit();
      });

      
      $(document).on('click', '.delete-todo', function () {
        const id = $(this).data('id');
        const url = `/todos/${id}`;
        $.ajax({
          url: url,
          type: 'DELETE',
          success: function () {
            $(this).closest('.list-group-item').remove();
          }
        });
      });

   
      $(document).on('submit', '.add-comment-form', function (event) {
        event.preventDefault();
        const id = $(this).data('todo-id');
        const commentInput = $(this).find('.comment-input');
        const comment = commentInput.val();
        const commenter = 'Your Name'; 
        const url = `/todos/${id}/comments`;
        $.post(url, { comment: comment, commenter: commenter }, function (data) {
          const commentItem = `<li>${data.comment} - ${data.commenter}</li>`;
          commentInput.val('');
          $(this).closest('.comments-container').find('.comments-list').append(commentItem);
        });
      });
    });
  </script>
</body>

</html>