<!DOCTYPE html>
<html>

<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1>Todo App</h1>

    <!-- Add Todo Form -->
    <form id="addTodoForm" method="POST" action="/todos">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="completed">Completed:</label>
        <input type="checkbox" class="form-control" id="completed" name="completed">
      </div>
      <button type="submit" class="btn btn-primary">Add Todo</button>
    </form>

    <hr>

    <!-- Todo List -->
    <ul id="todoList" class="list-group">
      {{#each todos}}
      <li class="list-group-item">
        <span>{{this.title}}</span>
        <div>
          <button class="btn btn-sm btn-danger delete-todo" data-id="{{this.id}}">Delete</button>
          <button class="btn btn-sm btn-secondary edit-todo" data-id="{{this.id}}">Edit</button>
        </div>
        <div class="comments-container">
          <form class="add-comment-form">
            <input type="text" class="form-control comment-input" placeholder="Add a comment...">
            <button type="submit" class="btn btn-sm btn-primary add-comment-btn" data-id="{{this.id}}">Add
              Comment</button>
          </form>
          <ul class="comments-list">
            {{#each this.comments}}
            <li>{{this.comment}} - {{this.commenter}}</li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script>
    $(document).ready(function () {

      $('#addTodoForm').submit(function (event) {
        event.preventDefault();
        const title = $('#title').val();
        const completed = $('#completed').is(':checked');
        $.post('/todos', { title: title, completed: completed }, function () {
          window.location.href = '/todos';
        });
      });


      $(document).on('click', '.delete-todo', function () {
        const id = $(this).data('id');
        const url = `/todos/${id}`;
        $.ajax({
          url: url,
          type: 'DELETE',
          success: function () {
            $(this).closest('.list-group-item').remove();
          }
        });
      });


      $(document).on('submit', '.add-comment-form', function (event) {
        event.preventDefault();
        const id = $(this).find('.add-comment-btn').data('id');
        const commentInput = $(this).find('.comment-input');
        const comment = commentInput.val();
        const url = `/todos/${id}/comments`;
        $.post(url, { comment: comment }, function (data) {
          const commentItem = `<li>${data.comment} - ${data.commenter}</li>`;
          commentInput.val('');
          $(this).siblings('.comments-list').append(commentItem);
        });
      });
    });
  </script>
</body>

</html>